<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yet Another Chess GUI</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    />
    <link rel="stylesheet" href="static/css/chessboard-1.0.0.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/js/chess.js"></script>
    <script src="static/js/chessboard-1.0.0.min.js"></script>
    <script src="static/js/app.js"></script>
  </head>
  <body>
    <div
      id="app"
      class="flex h-screen w-screen justify-center p-16 bg-gray-200"
    >
      <div
        class="flex flex-col shadow rounded border h-full w-4/5 mx-auto bg-white items-center justify-center"
      >
        <div
          id="actions"
          class="flex mb-6 text-white justify-between px-4"
          style="width: 600px"
        >
          <div
            id="newgame"
            class="py-2 px-4 text-sm mr-2 shadow rounded bg-blue-600 cursor-pointer"
          >
            New Game
          </div>
          <input
            id="fen-input"
            class="flex-1 px-4 mr-2 text-sm rounded shadow border text-gray-700"
            placeholder="Enter FEN String"
          />
          <div
            id="load-fen"
            class="py-2 px-4 text-sm shadow rounded bg-gray-600 cursor-pointer"
          >
            Load FEN
          </div>
        </div>
        <div id="chess-board" style="width: 600px; height: 600px"></div>
        <div
          id="game-status"
          class="font-bold bg-blue-100 border border-blue-400 text-blue-700 px-4 py-1 mt-4 text-sm rounded relative"
          role="alert"
        >
          Make your move!
        </div>
      </div>
      <div
        id="move-list"
        class="flex flex-col border shadow rounded px-4 mx-auto ml-4 text-center text-sm bg-white"
        style="width: 300px"
      >
        <div class="flex items-center font-bold h-10">
          <p class="flex-1">Move List</p>
        </div>
        <div class="flex rounded h-8 text-xs items-center bg-gray-200">
          <div class="flex-1 border-r">W</div>
          <div class="flex-1">B</div>
        </div>
        <div
          id="moves-container"
          class="overflow-scroll"
          style="height: 7rem"
        ></div>
      </div>
    </div>
  </body>
</html>
